<h1>Make your form here</h1>
<form>
  
  <label>Pirate Name:</label>
  <input type="text" name="pirateName">
  <label>Pirate Weight:</label>
  <input type = "text" name="pirateWeight">
  <label>Pirate Height:</label>
  <input type="text" name="pirateHeight">
  <br>
  <label>Ship 1 Name:</label>
  <input type="text" name="ship1Name">
  <label>Ship Type:</label>
  <input type="text" name="ship1Type">
  <label>Ship Booty:</label>
  <input type="text" name="booty1">
  <br>
  <label>Ship 2 Name:</label>
  <input type="text" name="ship2Name">
  <label>Ship Type:</label>
  <input type="text" name="ship2Type">
  <label>Ship Booty:</label>
  <input type="text" name="booty2">
  <br>
  
  
</form>